.icon {
    margin: 10px 5px;
    font-size: 30px;
}

.music-embed {
    height: 450;
    width: 100%;
    position: relative;
}

section {
    padding: 20px;
    height: 400px;
}

img {
    width: 100%;
    overflow-y: hidden;
    position: relative;
}

.music {
    max-width: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

.music-icon {
    width: 40px;
    margin: 0 10px;
}

.artist {
    max-width: 70%;
    min-height: 400px;
    padding: 30px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    background-color: rgba(255,255,255,0.8);
}

.muisc .artist {
    position: absolute;
    top: 20px;
}

.buttons {
    text-align: right;
}

@media (max-width: 500px) {
    section {
        background-size: auto 100%;
    }
}
