<div class="container">
    <section class="music-embed" *ngFor="let music of music">
        <div class="music">
            <img [src]="music.backgroundImage">
        </div>
        <div class="artist">
            <h3><b>{{music.artist}}</b></h3>
            <p>{{music.description}}</p>
            <h3><b>Releases:</b></h3>
            <p *ngFor="let release of music.releases">{{release}}</p>
            <div class="buttons">
                <a class="icon" href="{{music.social.spotify}}"><img class="music-icon" src="assets/spotify.png"></a>
                <a class="icon" href="{{music.social.apple}}"><img class="music-icon" src="assets/applemusic.jpg"></a>
                <a class="icon" href="{{music.social.bandcamp}}"><img class="music-icon" src="assets/bandcamp.png"></a>
                <a class="icon" href="{{music.social.discogs}}"><img class="music-icon" src="assets/discogs.jpg"></a> 
            </div>
        </div>
    </section>
</div>