<div class="container">
    <div>
        <img class="about-image" src="./assets/benmain.jpg">
    </div>
    <div class="about-bio">
        <p>
            <strong>Omaha, Nebraska-based guitarist, songwriter, web developer /</strong> Currently mixing the follow-up to my debut solo release <a href="http://beneisenberger.bandcamp.com/album/three-islands">Three Islands</a>
        </p>
        <p>
            <strong>Screaming Plastic's debut album /</strong> Funded by a <a href="https://www.newmusicusa.org/projects/screaming-plastic/">New Music USA</a> grant
        </p>
        <p>
            <strong>Stack /</strong> Angular 6+, HTML5, CSS, JavaScript and TypeScript, Ionic/Cordova, iOS Development, SQL, Ant Design/Bootstrap/Material Design, Google Firebase/Firestore, NodeJS and Express - but always learning
        </p>
        <p>
            <strong>Currently employed with <a href="https://appsky.io">appsky</a> /</strong> and enjoying the ride this life is taking me on
        </p>
    </div>
</div>