.container {
    min-height: calc(100vh - 52px);
}

audio {
    height: 35px;
    width: 96%;
    background-color: white;
    margin-left: 2%;
}

p {
    margin-top: 20px;
}

h2 {
    text-align: center;
}

h3 {
    margin-left: 95%;
    font-weight: 900;
    font-size: 20px;
}