<div class="container col-12">
    <h2>Ben Eisenberger - Victims of Circumstance (2020 / 2021)</h2>

    <section>
        <p>Victims of Circumstance</p>
        <!-- <audio controls src="../assets/Album 2 Demos/Victims of Circumstance.mp3" preload="none">
            Your browser does not support the<code>audio</code> element.
        </audio> -->
        <p>Don't Change Your Mind</p>
        <audio controls src="../assets/Album 2 Demos/Don't Change Your Mind.mp3" preload="none">
            Your browser does not support the<code>audio</code> element.
        </audio>
        <p>On and On</p>
        <audio controls src="../assets/Album 2 Demos/On and On.mp3" preload="none">
            Your browser does not support the<code>audio</code> element.
        </audio>
        <p>Burn</p>
        <audio controls src="../assets/Album 2 Demos/Burn.mp3" preload="none">
            Your browser does not support the<code>audio</code> element.
        </audio>
        <p>Soloist</p>
        <audio controls src="../assets/Album 2 Demos/Soloist.mp3" preload="none">
            Your browser does not support the<code>audio</code> element.
        </audio>
        <p>This is It</p>
        <!-- <audio controls src="../assets/Album 2 Demos/This Is It.mp3" preload="none">
            Your browser does not support the<code>audio</code> element.
        </audio> -->
        <p>Brightest Star in the Sky</p>
        <!-- <audio controls src="../assets/Album 2 Demos/Brightest Star in the Sky.mp3" preload="none">
            Your browser does not support the<code>audio</code> element.
        </audio> -->
        <p>Wide Open Spaces</p>
        <!-- <audio controls src="../assets/Album 2 Demos/Wide Open Spaces.mp3" preload="none">
            Your browser does not support the<code>audio</code> element.
        </audio> -->
        <p>Johnny</p>
        <!-- <audio controls src="../assets/Album 2 Demos/Johnny.mp3" preload="none">
            Your browser does not support the<code>audio</code> element.
        </audio> -->
    </section>
</div>