<div class="content-container">
    <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'" class="shows-tabset">
        <nz-tab nzTitle="Upcoming">
                <h3>Upcoming</h3>
                    <p><b><i>Unfortunately, due to the COVID-19 pandemic, all shows are cancelled or postponed for the forseeable future.</i></b></p><br>
                    <p><s>04/17/20 - 05/10/20 - Contracted guitarist for <i>Bright Star</i> at Omaha Community Playhouse</s></p>
                    <p><s>04/21/20 - Hussies w/ Cult of Lip at Brothers Lounge</s></p>
        </nz-tab>
        <nz-tab nzTitle="2020">
            <h3>2020</h3>
                <p>12/02/19 - 12/08/19 - Contracted guitarist for <i>Legally Blonde: The Musical</i> at Papillion La Vista South High School</p>
                <p>01/31/20 - 02/16/20 - Contracted guitarist for <i>Mamma Mia</i> at Performing Arts Repertory Theater</p>
        </nz-tab>
        <nz-tab nzTitle="2019">
            <h3>2019</h3>
                <p>01/11/19 — Screaming Plastic debut album listening party @ Hi-Fi House</p>
                <p>01/11/19 — Hussies w/ Oquoa @ The Sydney</p>
                <p>02/04/19 — Hussies w/ No Thanks @ Brother’s Lounge</p>
                <p>02/18/19 — Ben Eisenberger (Improvised) w/ Sutphin, BB Sledge, Pagan Athletes @ Lucy’s Pub</p>
                <p>Ben Eisenberger / Tom Bartolomei Spring 2019 Tour</p>
                <p>03/14/19 — Omaha, NE @ Pageturners Lounge</p>
                <p>03/15/19 — Lincoln, NE @ Meadowlark Coffee</p>
                <p>03/16/19 — Wichita, KS @ Donut Whole </p>
                <p>03/18/19 — Denton, TX @ Killer’s Tacos</p>
                <p>03/19/19 — Little Rock, AR @ Cosmic House</p>
                <p>03/20/19 — Memphis, TN @ Hi-Tone</p>
                <p>03/21/19 — Nashville, TN @ House Show</p>
                <p>03/22/19 — Louisville, KY @ House Show</p>
                <p>03/23/19 — St. Louis, MO @ Pop’s Blue Moon</p>
                <p>03/24/19 — Kansas City, MO @ Ollie’s Local</p>
                <p>03/25/19 — Ben Eisenberger w/ Bunny Boy @ Pageturners Lounge</p>
                <p>03/26/19 — Hussies @ Brothers Lounge</p>
                <p>04/12/19 — Baby Sledge (ft. Ben Eisenberger) @ O’Leaver’s</p>
                <p>04/13/19 — Hussies w/ Briner, Domestica @ 1867 Bar (Lincoln, NE)</p>
                <p>04/18/19 — Hussies w/ Tulip, Ace Jinx, Gabe Bierman @ Midtown Art Supply</p>
                <p>04/22/19 – 05/05/19 — Contracted Guitarist for Tuck Everlasting @ Skutt Catholic High School</p>
                <p>05/01/19 — Hussies w/ The Natural States @ Petshop</p>
                <p>05/21/19 — Hussies w/ Droids Attack!, TenDead, Battling Giants @ Reverb Lounge</p>
                <p>05/28/19 – 06/23/19 — Contracted Guitarist for Matilda @ The Rose Theater</p>
                <p>05/31/19 — Ben Eisenberger @ Gifford Park Neighborhood Market</p>
                <p>06/15/19 — Hussies w/ The Cult of Lip, Double Grave, Jacob James Wilton @ O’Leaver’s</p>
                <p>06/21/19 — Ben Eisenberger w/ Summer Like the Season, And How, Magu @ O’Leaver’s</p>
                <p>06/26/19 — Baby Sledge w/ Dendrons, Pagan Athletes, Garst @ Reverb Lounge</p>
                <p>06/26/19 — Hussies w/ All Boy / All Girl, Mike Schlesinger @ The Sydney</p>
                <p>07/13/19 — Hussies w/ Washer, The Natural States @ O’Leaver’s</p>
                <p>07/19/19 — Ben Eisenberger w/ Muscle Cousins, Artichoke Hearts @ Midtown Art Supply</p>
                <p>07/26/19 — Hussies (Tape Release Show) w/ Baby Sledge @ Brothers Lounge</p>
                <p>07/31/19 — Ben Eisenberger w/ Those Far Out Arrows, Mouton @ The Sydney</p>
                <p>08/02/19 — Hussies w/ No Thanks @ O'Leaver's</p>
                <p>08/10/19 — Hussies for Petfest @ Petshop</p>
                <p>08/09/19 - 08/18/19 - Contracted guitarist for Ring of Fire @ P.A.R.T.</p>
                <p>08/21/19 - Ben Eisenberger w/ Kelsey Magnuson @ Pageturners Lounge</p>
                <p>08/09/19 - 08/18/19 - Contracted guitarist for Ring of Fire @ P.A.R.T.</p>
                <p>08/30/19 - Ben Eisenberger w/ Nat Budz, Tame Suns, more @ Petshop Gallery</p>
                <p>09/03/19 — Hussies w/ Kneeling in Piss, Nathan Ma @ O’Leaver’s</p>
                <p>09/07/19 — Ben Eisenberger w/ Pink Neighbor, Bach Mai, Domonique Morgan, All Young Girls are Machine Guns, Virginia Kathryn @ Mooncottage</p>
                <p>09/13/19 — Ben Eisenberger w/ And How @ MaMAW’s House</p>
                <p>09/14/19 — Hussies w/ In The Whale, Natural States @ O'Leaver's</p>
                <p>09/29/19 — Ben Eisenberger @ Lucy’s Pub for House Fest (5:30pm)</p>
                <p>10/03/19 — Hussies w/ Plague Vendor, No Parents @ Slowdown</p>
                <p>10/14/19 — Ben Eisenberger w/ Princess, Brent Penny, Voske @ The Sydney</p>
        </nz-tab>
        <nz-tab nzTitle="2018">
            <h3>2018</h3>
                <p>01/05/18 — Hussies w/ The Show Is The Rainbow, Laughing Falcon @ The Sydney</p>
                <p>01/13/18 — Hussies w/ Karen Meat, Dubb Nubb, Detachable Limbs @ O’Leaver’s</p>
                <p>01/26/18 — Screaming Plastic w/ No Thanks, Deathcow @ OutrSpaces</p>
                <p>01/27/18 – 01/29/18 — Screaming Plastic mixing in New York, NY</p>
                <p>02/02/18 — Hussies w/ Libations, Relax, It’s Science @ O’Leaver’s</p>
                <p>02/03/18 — FiFi NoNo w/ Crease, Silversphere @ O’Leaver’s</p>
                <p>02/10/18 — Hussies w/ DJ Skatedad, Drugs & Attics @ The Sydney</p>
                <p>02/15/18 — Ben Eisenberger w/ Tom Bartolomei, Jacob Duncan @ Barley St. Tavern</p>
                <p>02/16/18 — FiFi NoNo w/ Closeness, Universe Contest @ The Sydney</p>
                <p>02/23/18 — FiFi NoNo w/ Vampyre, Leche @ Beerland, Texas (Austin, TX)</p>
                <p>02/24/18 — FiFi NoNo w/ Pinko, Vampyre @ House Show (San Antonio, TX)</p>
                <p>03/03/18 — Hussies w/ The Regulation @ Brothers Lounge</p>
                <p>03/04/18 — FiFi NoNo w/ White Mystery, Those Far Out Arrows @ O’Leaver’s</p>
                <p>o3/08/18 — FiFi NoNo w/ Bugg, Jacky Boy, Jocko @ Petshop</p>
                <p>03/26/18 — Hussies w/ Ex-Girlfriends, Houma @ O’Leaver’s</p>
                <p>03/30/18 — Screaming Plastic w/ Empty Bag of Ears, Little Ripple, @ O’Leaver’s</p>
                <p>04/10/18 — FiFi NoNo w/ Pleasures @ Duffy’s Tavern (Lincoln, NE)</p>
                <p>04/11/18 — Hussies w/ Pleasures @ The Sydney</p>
                <p>04/21/18 — Private Event</p>
                <p>04/22/18 – 05/06/18 — Contracted guitarist for Skutt High School</p>
                <p>04/27/18 — Hussies w/ Kal Marks, Chalant @ Brothers Lounge</p>
                <p>04/28/18 — Tom Bartolomei (Ben Eisenberger guest) w/ Lavender Country @ Brothers Lounge</p>
                <p>04/29/18 — Ben Eisenberger w/ Annie Dee (“Three Islands” release show) @ Pageturners Lounge</p>
                <p>05/22/18 — Hussies and FiFi NoNo w/ DJ Tyrone Storm @ Burke’s Pub</p>
                <p>05/24/18 – 06/17/18 — Contracted guitarist for The Rose Theater</p>
                <p>06/01/18 — Hussies @ The Sydney</p>
                <p>06/06/18 — Ben Eisenberger w/ Noah Sterba, Dan McCarthy @ Pageturners Lounge</p>
                <p>06/14/18 — FiFi NoNo w/ Sutphin, Celebration, Houma @ Lucy’s Pub</p>
                <p>06/17/18 — Hussies w/ Crease @ O’Leaver’s</p>
                <p>06/22/18 — Ben Eisenberger w/ Tom Bartolomei, Nick Baker, J. Jeffery Messerole @ Barley St. Tavern</p>
                <p>06/24/18 – 07/01/18 — Contracted guitarist for Omaha South High School</p>
                <p>06/24/18 — FiFi NoNo w/ Bambara @ O’Leaver’s</p>
                <p>06/24/18 — Ben Eisenberger w/ Laura Burhenn (Mynabirds), Annie Dee, Ryan Menchaca @ Pageturners Lounge</p>
                <p>06/29/18 — Hussies w/ Red Kate, Tiananmen Squares @ Brothers Lounge</p>
                <p>07/06/18 — Ben Eisenberger w/ Chess Club, Death Cow, House Vacations @ The Void (Lincoln, NE)</p>
                <p>07/08/18 — Hussies w/ Period Bomb!, Sam Martin @ The Sydney</p>
                <p>07/12/18 — Screaming Plastic w/ Summer Like the Season, Mr. E and the Stringless Kite @ Lucy’s Pub</p>
                <p>07/14/18 — FiFi NoNo w/ The Ghoulies, Cat Beret @ Brothers Lounge</p>
                <p>07/21/18 — Hussies w/ JC & the Nuns, Dead on Dust @ Brothers Lounge</p>
                <p>07/28/18 — Hussies @ Benson Days</p>
                <p>08/10/18 — Hussies w/ No Thanks @ Duffy’s Tavern (Lincoln, NE)</p>
                <p>08/11/18 — FiFi NoNo, Hussies, and Ben Eisenberger @ PeTFeSt</p>
                <p>08/11/18 – 08/24/18 — Contracted guitarist for Fun Home @ Omaha Community Playhouse</p>
                <p>08/25/18 — Ben Eisenberger w/ Dan McCarthy, Noah Sterba @ Almost Music</p>
                <p>////// FALL 2018 USA TOUR ////// CITIES SUBJECT TO CHANGE //////</p>
                <p>08/27/18 — Minneapolis, MN @ Kitty Cat Klub</p>
                <p>08/29/18 — Detroit, MI @ Trumbullplex</p>
                <p>08/30/18 — Cleveland, OH @ Happy Dog at The Euclid Tavern</p>
                <p>08/31/18 — Pittsburgh, PA @ Stim City</p>
                <p>09/02/18 — Rochester, NY @ Boulder Coffee</p>
                <p>09/04/18 — Boston, MA @ Blockbuster Video</p>
                <p>09/05/18 — New Bedford, MA @ Co-Creative Center</p>
                <p>09/06/18 — New York, NY @ Sidewalk Cafe</p>
                <p>09/08/18 — Philadelphia, PA @ Greenhaus</p>
                <p>09/10/18 — Washington, DC @ Songbyrd</p>
                <p>09/12/18 — Charlotte, NC @ Tommy’s Pub</p>
                <p>09/13/18 — Athens, GA @ Flicker Bar</p>
                <p>09/15/18 — New Orleans, LA @ Jammany Hall</p>
                <p>09/17/18 — San Marcos, TX @ Valentino’s</p>
                <p>09/19/18 — Austin, TX @ Cheer Up Charlie’s</p>
                <p>09/20/18 — Denton, TX @ Backyard on Bell</p>
                <p>09/21/18 — Little Rock, AR @ Optica Luminarium Festival</p>
                <p>09/23/18 — Murfreesboro, TN @ Garage Bar</p>
                <p>09/24/18 — Louisville, KY (open mic)</p>
                <p>09/25/18 — Cinncinatti, OH @ The Listing Loon</p>
                <p>10/02/18 — Screaming Plastic w/ A Deer A Horse, The Natural States @ The Sydney</p>
                <p>10/17/18 — Ben Eisenberger w/ Edem Soul Music, Miwi La Lupa, Tyrone Storm for Kara Eastman voter regestration rally @ The Sydney</p>
                <p>10/20/18 — Hussies w/ Summer Cannibals, The Natural States @ O’Leaver’s</p>
                <p>11/02/18 — Hussies @ The Sydney</p>
                <p>11/06/18 — Hussies w/ Shana Falana, BB Sledge @ Reverb Lounge</p>
                <p>12/08/18 – 12/09/18 — Contracted Guitarist for River City Mixed Chorus @ Omaha Conservatory of Music</p>
                <p>12/31/18 — Hussies w/ Uh Oh @ O’Leaver’s</p>
        </nz-tab>
        <nz-tab nzTitle="2017">
            <h3>2017</h3>
                <p> 01/01/17 — Hussies w/ No Thanks, Dumb Vision, Once a Month @ Williamson Magnetic Recording Company (Madison, WI)</p>
                <p>01/02/17 — Hussies w/ No Thanks, Indulge, Citric Dummies @ Pork Ave. (Minneapolis, MN)</p>
                <p>02/07/17 — Screaming Plastic w/ Valerie Kuehne and the Wasps Nests, Big Slur, Bob Bucko Jr. @ Project Project</p>
                <p>02/03/17 – 02/27/17 — Contracted guitarist for Beehive @ P.A.R.T. Crossroads Theater</p>
                <p>03/09/17 — Screaming Plastic w/ Working Man @ O’Leaver’s</p>
                <p>03/11/17 — Hussies w/ Ridgelines, Twinsmith @ Blackstone Meatball</p>
                <p>03/13/17 — Hussies w/ No Parents, Crease @ West Wing</p>
                <p>03/20/17 — Hussies w/ Shana Falana, Lodgings @ Waiting Room Lounge</p>
                <p>03/21/17 — Hussies w/ Shana Falana @ Vega (Lincoln, NE)</p>
                <p>03/26/17 — Screaming Plastic w/ Evil Genius, Might Vitamins @ Project Project</p>
                <p>04/06/17 — Hussies w/ Idlefox, Township and Bed Rest @ Lucy’s Pub</p>
                <p>04/20/17 — Hussies w/ Le Brood @ Pageturners Lounge</p>
                <p>04/22/17 — Screaming Plastic @ Almost Music for Record Store Day 2017</p>
                <p>04/22/17 — Screaming Plastic w/ Chemicals @ Blackstone Meatball</p>
                <p>05/05/17 — FiFi NoNo w/ Oozer, Vampyre @ Brothers Lounge</p>
                <p>05/15/17 — FiFi NoNo w/ Digital Leather, Xetas @ Brothers Lounge</p>
                <p>05/29/17 — Ben Eisenberger and Friends w/ Lectrofy @ Pageturners Lounge</p>
                <p>06/10/17 — Screaming Plastic w/ Mighty Vitamins, Eris Kozelar, Nick Holden @ OutrSpaces</p>
                <p>06/13/17 — Hussies w/ Cat Tatt @ Brothers Lounge</p>
                <p>06/16/17 — Hussies w/ Le Butcharettes @ Vega</p>
                <p>06/17/17 — Contracted Guitarist for River City Mixed Chorus @ Holland Center</p>
                <p>06/17/17 — Screaming Plastic w/ Chemicals @ Blackstone Meatball</p>
                <p>06/19/17 — Ben Eisenberger @ Pageturners Lounge for Miwi’s Wide Open Mic Night</p>
                <p>07/07/17 — FiFi NoNo w/ Dave Nance Band, Oquoa @ The Sydney</p>
                <p>07/10/17 — Screaming Plastic @ The Sydney</p>
                <p>07/11/17 — Contracted Guitarist for All State Chorus</p>
                <p>07/23/17 — FiFi NoNo w/ 3TEETH, Plack Blague @ Waiting Room Lounge</p>
                <p>08/11/17 — FiFi NoNo @ West Wing</p>
                <p>09/01/17 — Screaming Plastic (without Ben) w/ Stacy Barelos, Hasco Duo @ Petshop (Part of Benson First Friday Femme Fest)</p>
                <p>09/02/17 — FiFi NoNo (without Ben) for NE Hardcore Showcase After Party</p>
                <p>09/20/17 — Screaming Plastic w/ Ralph White, L. Eugene Menthe @ Joyner’s House</p>
                <p>09/21/17 — Hussies w/ Crushed Out, Idlefox @ Brothers Lounge</p>
                <p>09/23/17 — FiFi NoNo w/ Naomi Punk, No Thanks @ O’Leaver’s</p>
                <p>09/27/17 — Hussies w/ Church Girls @ The Sydney</p>
                <p>09/28/17 — Screaming Plastic records @ ARC Studios</p>
                <p>09/29/17 — Screaming Plastic @ Lincoln Calling</p>
                <p>09/30/17 — FiFi NoNo @ Lincoln Calling</p>
                <p>10/07/17 — Hussies @ Blackstone Meatball</p>
                <p>10/20/17 — Screaming Plastic w/ Lung, Crybaby @ O’Leaver’s</p>
                <p>11/04/17 — Ben Eisenberger w/ Tom Bartolomei @ Blackstone Meatball</p>
                <p>11/05/17 — Hussies w/ Cult Play, Obvious Funk @ The Sydney</p>
                <p>11/07/17 — Hussies w/ Top Nachos, Magu @ OutrSpaces</p>
                <p>11/07/17 — FiFi NoNo w/ Nightshapes @ Brothers Lounge</p>
                <p>12/04/17 — Hussies Tape Release w/ Ojai @ Pageturners Lounge</p>
                <p>12/05/17 — Ben Eisenberger w/ Bryan McPherson, Mike Schlesinger @ The Sydney</p>
                <p>12/09/17 — Contracted Guitarist with River City Mixed Chorus @ Omaha Conservatory of Music</p>
                <p>12/10/17 — Contracted Guitarist with River City Mixed Chorus @ Omaha Conservatory of Music</p>
        </nz-tab>
        <nz-tab nzTitle="2016">
            <h3>2016</h3>
                <p>01/01/16 — Every Goddess Wanted w/ Robo Dojo, Time Giants @ Barley Street Tavern </p>
                <p>01/27/16 — CounterSOUND 2: Duo w/ Hannah Mayer, Bus Gas, Silversphere, HAG @ Milk Run </p>
                <p>02/05/16 — Every Goddess Wanted w/ Weird Air, Doom Lagoon, Villain-s @ Barley St. Tavern </p>
                <p>02/20/16 — Misers w/ Dirty Dishes, Briner @ O’Leaver’s </p>
                <p>02/21/16 — Every Goddess Wanted with Dirty Dishes, The Shrinks, Big Slur @ Milk Run </p>
                <p>02/24/16 — CounterSOUND 3: Ben Eisenberger w/ Chemicals, Stephen Nichols, Kyle Jessen @ Milk Run </p>
                <p>03/22/16 — CounterSOUND 4: Misers w/ Working Man, Waning Gibbous, Guts & Bones @ Milk Run </p>
                <p>04/04/16 — Misers w/ Foxtails Brigade, Chemicals @ O’Leaver’s </p>
                <p>04/27/16 — CounterSOUND 5: Rogue Moon, Big Slur, Sopor @ Milk Run </p>
                <p>05/03/16 — Hussies w/ The Cult of Lip, Super Moon @ Milk Run </p>
                <p>05/05/16 — Ben Eisenberger w/ Uh Bones, Bokr Tov, Cat Deluca @ Milk Run </p>
                <p>05/19/16 — Hussies w/ Dylan Ryan/Sand, Fliight @ O’Leaver’s </p>
                <p>06/04/16 — Hussies w/ Saturn Moth, Briner @ Down Under Lounge </p>
                <p>06/18/16 — Contracted Guitarist w/ River City Mixed Chorus @ Holland Center </p>
                <p>06/20/16 — Ben Eisenberger w/ Big Slur @ Pageturners Lounge </p>
                <p>06/25/16 — Screaming Plastic w/ Bill Nace & Jake Maginsky, Big Slur @ Brothers Lounge </p>
                <p>06/27/16 — Hussies w/ Silversphere, Shrinks @ Pageturners Lounge </p>
                <p>07/04/16 — Hussies w/ Pinkwash, Big Slur @ O’Leaver’s </p>
                <p>07/06/16 — Screaming Plastic w/ K A T E S, FOCI, Mighty Vitamins, Patchwork @ Project Project (part of Omaha Under the Radar 2016) </p>
                <p>07/15/16 — Hussies w/ CHEW, Falling, Timecat @ Milk Run</p>
                <p>07/30/16 — Every Goddess Wanted w/ David Liebe Hart, Timmy Williams, Ryan de la Garza, Mollie Bartlett, Alice Galloway @ Lookout Lounge </p>
                <p>08/06/16 — Ben Eisenberger w/ Universe Contest, PLEASURES @ O’Leaver’s </p>
                <p>08/10/16 — Ben Eisenberger w/ Blake Kostszewa @ Pageturners Lounge </p>
                <p>08/23/16 — Hussies w/ Tender Age, Slow Stoics @ Reverb Lounge </p>
                <p>08/25/16 — Hussies w/ Terroir, So Pretty, Dogs at Large @ The Mutiny (Chicago, IL) </p>
                <p>08/26/16 — Hussies w/ Electric Excuse Me’s, GIGA MOTH, No Horse @ Ramen House (Chicago, IL) </p>
                <p>08/27/16 — Hussies w/ Shit God, Todd Luffa, Motorrad Reisen @ Eagles Club #34 (Minneapolis, MN)</p>
                <p>09/02/16 — Screaming Plastic w/ No Thanks, Domestica, The Clincher, Boner Killerz, Better Friend, Shen Teh @ The Sydney (Part of Benson First Friday Femme Fest) </p>
                <p>09/06/16 — Hussies w/ Gringo Star, Eklectica @ O’Leaver’s </p>
                <p>09/08/16 — CounterSound 6: Screaming Plastic w/ ., Little Ripple, Kyle Jessen @ Milk Run </p>
                <p>09/19/16 — Every Goddess Wanted w/ Wing Dam, Muscle Cousins @ O’Leaver’s </p>
                <p>11/26/16 — Hussies w/ Silversphere, Chalant @ O’Leaver’s </p>
                <p>11/27/16 — Hussies recording session @ ARC </p>
                <p>11/30/16 — CounterSound 7: Ben Eisenberger w/ Hannah Mayer, Philip Kolbo @ Milk Run </p>
                <p>12/04/16 — Ben Eisenberger w/ many others @ O’Leaver’s open mic </p>
                <p>12/09/16 — Ben Eisenberger w/ Bryan McPherson, Mike Schlesinger @ The Sydney </p>
                <p>12/29/16 — Hussies and No Thanks tour kickoff w/ David Nance Band, Ridgelines @ Milk Run </p>
                <p>12/30/16 — Hussies w/ No Thanks, Little Big Bangs, Shady Bugs @ CBGB (St. Louis, MO) </p>
                <p>12/31/16 — Hussies w/ No Thanks, New Oceans, Fieldmates @ The Mutiny (Chicago, IL)</p>
        </nz-tab>
        <nz-tab nzTitle="2015">    
            <h3>2015</h3>
                <p>01/10/15 — The New Philharmonic (featuring Michael Gordon’s ‘Van Gogh’ opera) @ KANEKO </p>
                <p>01/24/15 — Ensemble 768 @ Strauss Performing Arts Center </p>
                <p>02/16/15 — Hannah Mayer/Ben Eisenberger duo (open mic) @ Pageturners Lounge </p>
                <p>02/20/15 — Ensemble 768 @ Strauss Performing Arts Center </p>
                <p>02/21/15 — Commander Relativity @ Dr. Jack’s Drinkery </p>
                <p>04/13/15 — Every Goddess Wanted (open mic) @ Pageturners Lounge </p>
                <p>04/15/15 — Guitar on UNO Student Recital @ Strauss Performing Arts Center </p>
                <p>04/23/15 — Ensemble 768 @ Strauss Performing Arts Center </p>
                <p>05/08/15 — Guitar w/ Luke Polipnick @ Union for Contemporary Art </p>
                <p>05/23/15 — The New Philharmonic “A is for ___” @ KANEKO </p>
                <p>07/09/15 — Omaha Under the Radar — Ben Eisenberger and Hannah Mayer w/ Alejandro Acierto, Shanna Gutierrez, MIMIC, Bassoons Across Nebraska @ House of Loom </p>
                <p>07/10/15 — Omaha Under the Radar — Ensemble 768 w/ Matthew Oliphant, Stacey Barelos, April Faith-Slaker, Derrick Higgins @ Barley St. Tavern </p>
                <p>07/11/15 — Omaha Under the Radar — Ensemble 768 and The New Philharmonic @ KANEKO </p>
                <p>07/19/15 — Dominion w/ Can’t, Won’t @ Lucy’s Pub </p>
                <p>08/07/15 — Dominion and Every Goddess Wanted w/ Justin Ready and the Echo Prairie, Phill Smith @ Private Event </p>
                <p>08/20/15 — Ben Eisenberger/Hannah Mayer duo w/ Colloquy @ Bancroft St. Market </p>
                <p>09/30/15 — Every Goddess Wanted w/ Wet Nurse, The Ridgeways, The Morbs @ O’Leaver’s </p>
                <p>10/31/15 — Dominion and Every Goddess Wanted w/ Working Man @ Hotela Barela </p>
                <p>11/16/15 — Every Goddess Wanted w/ Iji @ O’Leaver’s </p>
                <p>11/22/15 — Ensemble 768 with Antonius Priyanto & Johannes Nugroho, UNO faculty and Chamber Choir @ Strauss Performing Arts Center </p>
                <p>11/24/15 — Misers w/ Nudie Suits, Amanda DeBoer Bartlett @ House of Loom </p>
                <p>12/05/15 — Private Event </p>
                <p>12/10/15 — Every Goddess Wanted w/ I’d Die for Lo-Fi, Little Ripple, Army of 2600 @ Barley St. Tavern </p>
                <p>12/23/15 — CounterSOUND: Misers w/ Shit God, grabASS, Army of 2600 @ Milk Run</p>
        </nz-tab>
        <nz-tab nzTitle="2014">
            <h3>2014</h3>
                <p>02/15/14 — Private Event</p>
                <p>02/25/14 — Heartland Philharmonic Orchestra @ Strauss Performing Arts Center</p>
                <p>06/06/14 — 06/22/14 — Contracted Guitarist for The Rose Theater</p>
                <p>06/26/14 — Solo (Nick Drake tribute night) @ Barley Street Tavern</p>
                <p>07/12/14 — Ensemble 768 @ Bancroft Street Market (part of Omaha Under the Radar 2014)</p>
                <p>10/28/14 — Heartland Philharmonic Orchestra @ Strauss Performing Arts Center</p>
                <p>12/05/14 — Ensemble 768 @ Strauss Performing Arts Center</p>
        </nz-tab>
        <nz-tab nzTitle="2013">
            <h3>2013</h3>
                <p>02/01/13 — Hussies w/ Ladyfinger, The Seen @ Waiting Room Lounge </p>
                <p>05/31/13 — 06/16/13 — Contracted Guitarist for The Rose Theater </p>
                <p>07/31/13 — Guitarist for The Rite Returns @ Holland Performing Arts Center</p>
                <p>10/10/13 — Hussies w/ Manic Pixie Dream Girls, Saturn Moth @ Slowdown </p>
                <p>10/29/13 — Heartland Philharmonic Orchestra @ Strauss Performing Arts Center </p>
                <p>11/02/13 — Solo (Nick Drake tribute night) @ Barley Street Tavern </p>
                <p>11/03/13 — Solo Classical @ España Tapas Bar </p>
                <p>11/22/13 — Ensemble 768 (at NMEA Convention) @ University of Nebraska at Lincoln </p>
                <p>11/24/13 — Solo Classical @ España Tapas Bar </p>
                <p>12/11/13 — Heartland Philharmonic Orchestra @ Strauss Performing Arts Center </p>
                <p>12/12/13 — Ensemble 768 @ Strauss Performing Arts Center </p>
                <p>12/14/13 — Contracted Guitarist w/ River City Mixed Chorus @ Creighton University </p>
                <p>12/15/13 — Contracted Guitarist w/ River City Mixed Chorus @ Creighton University </p>
                <p>12/21/13 — Graduation with Bachelor’s of Guitar Performance @ University of Nebraska at Omaha </p>
                <p>12/31/13 — Hussies w/ Shit God, Phill Smith, Manic Pixie Dream Girls @ Hotela Barela</p>
        </nz-tab>
        <nz-tab nzTitle="2012">
            <h3>2012</h3>
                <p>01/27/12 — Cymbal Rush w/ Howard, Ally Rhodes, Field Club, Small Houses @ Side Door Lounge </p>
                <p>06/01/12 — 06/17/12 — Contracted Guitarist for The Rose Theater </p>
                <p>07/26/12 — Hussies w/ Twin Peaks, Orca Team @ 40th and Charles </p>
                <p>08/09/12 — Hussies @ Moon Cottage </p>
                <p>08/11/12 — 08/19/12 — Contracted Guitarist for Beehive @ Waiting Room Lounge </p>
                <p>08/16/12 — Hussies @ Side Door Lounge </p>
                <p>10/29/12 — Hussies w/ Opus Noir, Big Box @ West Wing </p>
                <p>12/07/12 — Hussies in Kansas City, MO </p>
                <p>12/15/12 — 12/30/12 — Contracted Guitarist for Beehive @ Waiting Room Lounge </p>
                <p>12/31/12 — Hussies w/ Solid Goldberg, Funk Trek @ Studio 906</p>
        </nz-tab>
        <nz-tab nzTitle="2011"> 
            <h3>2011</h3>
                <p>03/24/11 — Cymbal Rush w/ In Love @ Waiting Room Lounge </p>
                <p>05/21/11 — Cymbal Rush w/ MC Gringo, Big Elephant, Video Ranger @ Slowdown</p>
                <p>07/10/11 — Cymbal Rush w/ Dim Light, Saturn Moth @ Waiting Room Lounge </p>
                <p>07/20/11 — Cymbal Rush w/ Hellogoodbye, A Great Big Pile of Leaves, Catnaps, Fake Problems @ Waiting Room Lounge</p>
                <p>09/30/11 — Cymbal Rush w/ Millions of Boys, Fullbloods @ Barley Street Tavern </p>
                <p>10/08/11 — Cymbal Rush w/ Family Picnic, Dads @ Slowdown</p>
                <p>12/05/11 — Cymbal Rush w/ Matt Jones, Chris Bathgate @ Slowdown</p>
                <p>12/10/11 — Cymbal Rush w/ Millions of Boys, Everyday/Everynight, Jacob Duncan @ HOUSE</p>
                <p>12/20/11 — Cymbal Rush w/ Howard, Snake Island, All Young Girls are Machine Guns @ House of Loom</p>
        </nz-tab>
        <nz-tab nzTitle="2010">
            <h3>2010</h3>
                <p>07/24/10 — Cymbal Rush @ Sokol Underground</p>
                <p>12/20/10 — Cymbal Rush w/ Hot From Far @ Sokol Underground</p>
        </nz-tab>
    </nz-tabset>
</div>