<nz-layout>
  <nz-header>
    <h3>Ben Eisenberger</h3>
    <h4>Omaha Folk + Experimental Guitar + Web and Software Development</h4>
  </nz-header>
  <nz-content>
    <nz-tabset [nzSelectedIndex]="currentTab">
      <nz-tab nzTitle="Blog" [nzDisabled]='true'>
        <app-blog></app-blog>
      </nz-tab>
      <nz-tab nzTitle="About">
        <app-about></app-about>
      </nz-tab>
      <nz-tab nzTitle="Media">
        <app-media></app-media>
      </nz-tab>
      <nz-tab nzTitle="Code">
        <app-code></app-code>
      </nz-tab>
      <nz-tab nzTitle="Shows">
        <app-shows></app-shows>
      </nz-tab>
      <nz-tab nzTitle="Contact">
        <app-contact></app-contact>
      </nz-tab> 
    </nz-tabset>
  </nz-content>
</nz-layout>