<nz-layout>
  <nz-header>
    <h3>Ben Eisenberger</h3>
    <h4>Omaha Folk + Experimental Guitar + Web and Software Development</h4>
  </nz-header>
  <nz-content>
    <nz-tabset nzLinkRouter>
      <nz-tab [nzDisabled]="true">
        <a nz-tab-link routerLink="posts">Blog</a>
      </nz-tab>
      <nz-tab>
        <a nz-tab-link routerLink="about">About</a>
      </nz-tab>
      <nz-tab>
        <a nz-tab-link routerLink="media">Media</a>
      </nz-tab>
      <nz-tab>
        <a nz-tab-link routerLink="code">Code</a>
      </nz-tab>
      <nz-tab>
        <a nz-tab-link routerLink="shows">Shows</a>
      </nz-tab>
      <nz-tab>
        <a nz-tab-link routerLink="contact">Contact</a>
      </nz-tab>
    </nz-tabset>
    <router-outlet></router-outlet>
  </nz-content>
</nz-layout>