<div *ngIf="loading" class="centered-container">
    <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
</div>
<div class="header" *ngIf="!loading">
    <h2>In Case You Wanted to Know...</h2>
    <p *ngIf="auth.user">Hello {{ auth.user.displayName }} <img class="authorImage" [src]="auth.user.photoURL"></p>
    <button *ngIf="!auth.user" nz-button (click)="login()">Log In to Comment</button>
    <button *ngIf="auth.user" nz-button (click)="logout()">Log Out</button>
</div>
<router-outlet></router-outlet>
<div class="container" *ngIf="posts && !post">
    <div class="blog-card" *ngFor="let post of posts">
        <div class="meta">
            <div class="photo" [style.backgroundImage]="'url('+ post.image +')'"></div>
            <ul class="details">
                <li class="author">posted by:<br><img class="authorImage" src="{{post.authorImage}}"> {{post.author}}</li>
                <li class="date">{{ post.published | date }}</li>
            </ul>
        </div>
        <div class="description">
            <h1>{{post.title}}</h1>
            <p>{{ post.content | slice:0:100 }}{{post.content.length > 100 ? '...' : ''}}</p>
            <p class="read-more">
                <a (click)="navigateToPost(post.id)">Read More</a>
            </p>
        </div>
    </div>
</div>